.search_bar {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F0F9FF;
}

;

.inputs {
    border-radius: 6px;
    flex: 2;
    padding: 1em;
}

.inputDivs {
    display: flex;
    padding: 0.5em 0;
    flex-direction: column;
}

.labels {
    flex: 1;
    font-size: 18px;
    padding: 1em 1em .5em 0;
}